@font-face {
  font-family: 'General Sans Regular';
  src: local('General Sans Regular'), url(./fonts/GeneralSans-Regular.woff) format('woff');
}
@font-face {
  font-family: 'General Sans Semibold';
  src: local('General Sans Semibold'), url(./fonts/GeneralSans-Semibold.woff) format('woff');
}
@font-face {
  font-family: 'General Sans Medium';
  src: local('General Sans Medium'), url(./fonts/GeneralSans-Medium.woff) format('woff');
}
